

.card {
    width: 100%;
    height: 100%;
    display: grid;
    position: relative;
   

    h3 {
        position: absolute;
        top: 0;
        width: 100%;
        background-color: rgba(77, 57, 3, 0.881);
        
    }
    p {
        position: absolute;
        z-index: 1;
        bottom: 0;
        width: 100%;
        display: flex;
        gap: 10px;
    }
    span {
        background-color: rgba(0, 0, 0, 0.835)
    }


}

.posterImg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    object-fit: cover;
    z-index: 0;
}

.like {
    color: transparent;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 3;
    right: 0;
    bottom: 29px;
    -moz-box-shadow:0 0 10px #000;
    -webkit-box-shadow:0 0 10px #000;
    box-shadow:0 0 10px #000;
    span {
        background-color: transparent
    }
}
;
.noActivLike {
    @extend .like;
    background-image: url('https://cdn-0.emojis.wiki/emoji-pics/google/heart-decoration-google.png');}
.activLike {
    @extend .like;
    background-image: url('https://i0.wp.com/w7.pngwing.com/pngs/737/284/png-transparent-emoji-heart-sticker-purple-love-emoji-love-purple-violet.png?ssl=1');}