

.card {
    width: 100%;
    height: 100%;
    display: grid;
    position: relative;
   

    h3 {
        position: absolute;
        top: 0;
        width: 100%;
        background-color: rgba(77, 57, 3, 0.881);
        
    }
    p {
        position: absolute;
        z-index: 1;
        bottom: 0;
        width: 100%;
        display: flex;
        gap: 10px;
    }
    span {
        background-color: rgba(0, 0, 0, 0.835)
    }


}

.posterImg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    object-fit: cover;
    z-index: 0;
}

.like {
    background-color: rgba(240, 248, 255, 0.849);
    border-radius: 10px;
    background-image: url('https://flomaster.top/o/uploads/posts/2024-02/1708603661_flomaster-top-p-simvol-serdechko-instagram-narisovannie-19.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    position: absolute;
    z-index: 3;
    right: 0;
    bottom: 30px;
    -moz-box-shadow:0 0 10px #000;
    -webkit-box-shadow:0 0 10px #000;
    box-shadow:0 0 10px #000;
    span {
        background-color: transparent
    }
}
;
