.footer {
    color: white;
    padding: 10px ;
    height: 5vh;
    background-color: rgb(32, 32, 32);
    display: flex;
    justify-content: center;
}



// .footer{
//     height: 50px;
//     margin: 0 auto;
//     padding: 20px;
//     width: 1000px;
//     background-color: black;
//     color: rgb(255, 255, 255);
//     font-size: 20px;
//     display: block;
//     text-align: center;
// }
